@media screen and (max-width:1239px) {


body{
	text-align: center;
}

nav{
	background-size: cover;
}

.heading{
	display: flex;
	justify-content:center;
	}

	.heading li{
		display:block;
		float:left;
		position:relative;
		text-align:left;
	}
	

	.heading a{
		display:inline-block;
		padding-left:20px;
		padding-right:20px;
	}

.h_heading h1{
	font-size: 5.5vw;
}

.h_heading p{
font-size:4.0vw;
}

#welcome {
width:inherit;
}

#welcome p{
	font-size: 2vw;
	margin-right:3vw;
	width:90%;
}

#gallery {
	width:inherit;
}
#slider{
	width:inherit;
	height:40%; 
}

.swiper-slide img{
	width:100%;
}

		.swiper-button-next,
		.swiper-button-prev{
			top:100px;
		}


#Gsmall{
	width:inherit;
	box-sizing: border-box;
}



#news{
	width:inherit;
}

#listticker{
	width:inherit;
	text-align:justify;
}

footer{
	width:inherit;
}
}

@media screen and (max-width:1000px) {

nav{
	background-size: cover;
	overflow: hidden;
}

.heading li{
	display:block;
	float:left;
	position:relative;
	text-align:left;
}

.heading a{
	display:inline-block;
	padding-left:12px;
	padding-right:12px;
	width:100%;
}

.submenu li{
padding:0;
margin:0;
width:100%;
}

#welcome p{
	font-size: 2.2vw;
}

#gallery{
	padding-top:10px;
}

.swiper-slide{
	display: flex;
	width: inherit;
}

#Gsmall{
	width:inherit;
	box-sizing: border-box;
}

.small{
max-width: 240px;
max-height: 160px;
}

#listticker{
	padding-left:0;
}

#social h6{
	margin-bottom:1vh;
}
}



@media screen and (max-width:899px){

	.heading li{
		display:block;
		float:left;
		position:relative;
		text-align:left;
	}
	
	.heading a{
		display:inline-block;
		padding-left:10px;
		padding-right:10px;
		width:100%;
	}


.small{
	max-width: 240px;
	max-height: 160px;
	}

	#listticker{
  padding-left:0;
	}

.swiper-button-next,
.swiper-button-prev{
top:30%;
}


.last_str{
	padding-left:5px;
}

	#b{float: right; margin-right:5px;}
}



 /* FOR LESS THAN 864px =============================================================!!!
 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (max-width:864px){ 


	#Gsmall{
	position:relative;
	}
	
	
.h_heading img{
margin-top:330px;
}

.submenu{
	top:0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
}

.heading{
	display:flex;
	justify-content: center;
	padding:auto;
}

.heading li{
	display:inline-block;
	flex-grow:1;
	text-align: center;
}



#sm_menu{
	display:block;
	width:140px;
	padding:10px;
	margin-top:10px;
	margin-left:50px;
	text-align:right;
	z-index:10;
	border-right: 2px solid #000080;
}

#sm_menu:hover{
	cursor:pointer;
	background:rgba(0,0,0,0.3);
}

.heading{
	position:absolute;
	flex-direction:column;
	width:150px;
	padding-top:0;
	padding-left:60px;
	margin-top:65px;
	margin-left:-300px;
	justify-content:left;
	transition: all 0.5s;
	background-color:rgba(255,255,255,0.8);
	border-right: 2px solid #000080;
}

.heading li{
	padding-right:10px;
	padding-left:0;
	text-align:left;
	border-bottom:1px solid #4D4D4D;
	margin:0;
}

.heading a{
	display:inline-block;
	font-size:17px;
	padding-right:10px;
	padding-left:5px;
	padding-top:10px;
	padding-bottom:10px;
	margin:0;
	width:100%;
}


#dws-heading:checked ~ .heading{
	margin:0;
}

.submenu {
	margin-top:0;
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align:left; 
	margin-left:150px;
	background-color:rgba(255,255,255,0.5);
}

.submenu a {
	padding-right:0;
	padding-top: 10px;
	margin-left:10px;
	text-align: left;
	display: block;
}

.submenu li{
	padding-left:0;
	width:90%;
}

.h_heading p{
	margin-bottom:10px;
}

#welcome p{
	font-size: 2.4vw;
	margin:0 auto;

	width:95%;
}

.small{
	max-width: 680px;
	max-height: 480px;
}

#gallery{
	height:contenr-height;
}

/*----------------------Slider section--------------------------*/
#slider {
	position:static;
	height: 500px;
}
#slider {
	background: #fff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0 auto;
	padding-bottom:30%;
	width:100%;
}
.swiper-container {
	width: 100%;
	height: 500px;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	width: 100%;
	height:100%;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide:nth-child(2n) {
	width:100%;
	height:100%;
}
.swiper-slide:nth-child(3n) {
	width:100%;
	height:100%;
}
.swiper-slide img{
	width:600px;
	height:400px;
	vertical-align:top;
}

.swiper-button-next,
.swiper-button-prev{
background-color:rgba(255,255,255, 0.7);
transition:0.6s;
}

/*------------------------------The end of slider section------------*/
}

@media screen and (max-width:745px){ 

	#slider {
		padding-bottom:40%;

	}

	.swiper-slide img{
		width:100%;
		padding-top:0;
	}
	
}

@media screen and (max-width:650px){ 
	#slider {
		padding-bottom:50%;
	}

	.h_heading img{
		margin-top:350px;
		}

		.swiper-slide img{
			width:100%;
			margin-top:0;
		}
		#slider {
			height: 100%;
		}



}

@media screen and (max-width:650px){ 

	.h_heading p{
		font-size:5.0vw;
		}
		

	#welcome p{
		font-size: 2.8vw;
		margin:0 auto;
	
		width:96%;
	}


	/*----------------------Slider section--------------------------*/
#slider {
	position:static;
	height: 300px;
	margin-top:0;
	padding-top:0;
}
#slider {
	background: #fff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0 auto;
	padding-bottom:30%;
	width:100%;
}
.swiper-container {
	width: 100%;
	height: 300px;
	margin-top:0;
	padding-top:0;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	width: 100%;
	height:100%;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	margin-top:0;
	padding-top:0;
}
.swiper-slide:nth-child(2n) {
	width:100%;
	height:100%;
}
.swiper-slide:nth-child(3n) {
	width:100%;
	height:100%;
}
.swiper-slide img{
	width:600px;
	height:300px;
	vertical-align:top;
}

.swiper-button-next,
.swiper-button-prev{
background-color:rgba(255,255,255, 0.7);
transition:0.6s;
}

.news-title{
	display:flex;
	flex-direction:row;
	justify-content: space-evenly; 
}


.last_str{
	justify-content: space-between;
	display:flex;
	flex-direction:column;
	text-align:left;
}

}

@media screen and (max-width:450px){

	.small{
		border:none;
	}

	.h_heading p{
		font-size:6.0vw;
		}

		#welcome p{
			font-size: 3.5vw;
			margin:0 auto;
		
			width:96%;
		}
		#welcome span{
			font-size: 5vw;
		}

		#slider {
			background: #fff;
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 14px;
			color:#000;
			margin: 0 auto;
			padding-bottom:40%;
			width:100%;
		}

}




@media screen and (max-width:415px){

	#welcome p{
		display:none;
	}

	#welcome span{
		font-size: 6vw;
	}

	#welcome{
		height:5vh;
	}

	#b{
		display:none;
	}

	h6{
		margin-bottom:50px;
	}

	.last_str{
		margin-top:0;
		padding-top:0;
		justify-content: stretch;  
	}

	#social{
		justify-content: safe center;

	}

}

@media screen and (max-width:370px){

	#welcome{
		display:none;
	}


	.h_heading p{
		font-size:6.0vw;
		display:flex;
	}

	.h_heading img{
		width:95vw;
	}

	.small{
		max-width: 240px;
		max-height: 160px;
		}

		#slider {
			background: #fff;
			font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			font-size: 14px;
			color:#000;
			margin: 0 auto;
			padding-bottom:60%;
			width:100%;
		}



		}
		.swiper-slide img{
			width:100%;
			height:80%;
			vertical-align:top;
		}
		


@media screen and (max-width:320px){

	#sm_menu{
		display:block;
		width:150px;
		padding:0;
		margin-top:30px;
		margin-left:0;
		text-align:right;
		z-index:10;
		border-right: 2px solid #000080;
	}

	.heading{
		position:absolute;
		flex-direction:column;
		width:150px;
		padding-top:0;
		padding-left:0;
		margin-top:65px;
		justify-content:left;
		transition: all 0.5s;
		background-color:rgba(255,255,255,0.8);
		border-right: 2px solid #000080;
	}

	.h_heading img{
		margin-top:370px;
		}

	.swiper-button-next, .swiper-button-prev{

	 width: 30px;
    height: 30%;
    margin:0 auto;

}

/*====================  290 px is minimum comfortable sight ==========================*/
