body{
	width:1220px;
	max-width:1220px;
	min-width:1220px;
	margin:auto;
	/*background: linear-gradient(#CDCAFB,white);*/
}

header{
	background-image: url(../images/places/header2.png);
	background-repeat:no-repeat;
	background-position: center;
	height:200px;   /*height:175-200px;*/
	margin-top:16px;
	border-radius:5px;
}

.heading{
	list-style-type:none;
	text-align: center;
  margin-top:0;
  padding-top:35px;
  position:absolute;
}

.heading li{		
	display:inline-block;
	padding-left:25px;
	padding-right:25px;
	float:none;
}

/*-----------------------slider-menu block------------------------*/
.heading li ul {
	background-color: rgba(255,255,255,0.7);
	display:none;
}

.heading li:hover > ul{display:block;}

.heading li {line-height:50px; }

.heading li ul a {display:block;}

.heading li ul li {
	float:none; 
	line-height:20px; 
	width:inherit; 
	padding:0;  margin:0; 
}
.heading li ul li:hover > a{text-decoration: none;}

.heading li ul{ position:absolute; top:100%; width:100px;
 margin:0; padding:0; 
 border-left:1px solid white;
 border-right:1px solid white;
}
/*----------------------the end of menu block--------------------------*/

.heading a{
	font-family: 'Roboto', cursive;
	-webkit-font-family: 'Roboto', cursive;
	text-decoration:none;
	font-size:18px;
	color:#000080;
}


.heading a:hover{
	text-decoration:underline;
	animation-name:backgr;
	animation-duration:0.5s;
	animation-delay: 0s;
  animation-iteration-count: 1;
	animation-fill-mode:forwards;
}

 @keyframes backgr{
 	0%{color:#000080;}
 	75%{color:#000;}
 	100%{color:#000;}
 } 

 @-webkit-keyframes backgr{
	0%{color:#000080;}
 	75%{color:#000;}
 	100%{color:#000;}
}

.allbutton{
	border-radius:15px;
	padding:12px;
	background-color:transparent;
	border-color: #000080;
	font-size: 18px;
	text-align: center;
	color:#000080;
	font-weight:bold;
	font-family: 'Roboto', cursive;
	-webkit-font-family: 'Roboto', cursive;
}
.allbutton:hover{
	cursor:pointer;
	box-shadow: 0 0 5px #1919FF;
}

/*-------------------------------MAIN---------------------------------------*/
.place{
	width:1215px;
	min-width: 1215px;
	height: 350px;
	margin-top: 10px;
	margin-bottom: 10px;
	border:4px ridge #1010A6;
	/*border-top:5px solid #000080;
	border-bottom:5px solid #000080;
	border-left:5px solid #000080;
	border-right:5px solid #000080;*/
	border-radius: 10px;
	background: radial-gradient(#A1CCE5,#fff);
}

.photo{
	width: 480px;
	height: 300px;	
	float: left;
	margin-left:25px;
	margin-top:25px;
}

.place p span{
	font-size: 3.5ex;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:600;
	letter-spacing:0.1ex;
}

.place p{	
	font-family: 'Roboto', cursive;
	-webkit-font-family: 'Roboto', cursive;
	font-size: 2ex;
	margin-left: 10px;
	margin-right: 25px;
	margin-top:25px;
	text-align: justify;
	width: 650px;
	height: 300px;
	float:right;
/*	background-color: red;*/
}

.caption{
	margin-left:195px;
	color:#000080;
	font-family: 'Roboto', cursive;
	-webkit-font-family: 'Roboto', cursive;
	font-size:1.8ex;
}
.caption:link { 
  text-decoration: none;
} 
.caption:visited { text-decoration: none; } 

.caption:active { text-decoration: none; }

.caption:hover {
    text-decoration: underline; 
    color: #000; 
   } 

/*------------------------------------FOOTER------------------------------------*/
footer{
	
	border-top:6px double #00258E;
	border-left:5px solid #00258E;
	border-right:5px solid #00258E;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	padding-top:15px;
	margin-top:35px;
	margin-left: auto;
	margin-right: auto;
	width:1220px;
	height:260px;
 /* background-image:url('../images/footer_city6.jpg');
	background-position:50% 50%;
	background-size:auto auto; */
	 display: block;
  position: relative;
}

footer::after {
  content: "";
  background: url('../images/footer_city6.jpg');
  background-position:40% 45%;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index:-1;   
}


#social{
	margin-left:20px;
}

#social img{
	width:50px;
	height:50px;
	margin-right:20px;
}

#social h6{
	font-size:20px;
	font-weight:600; 
	font-family: 'Indie Flower', cursive;
	font-family: 'Roboto', sans-serif;
	margin-top:0;
	margin-bottom:2vh;
}

#social img:hover {opacity:0.75;}

#contacts{
	font-size:25px;
	margin-top:25px;
	margin-bottom:40px;
	width:1200px;
	text-align:center;
	visibility:hidden;
	}

#contacts a{
	font-family: 'Indie Flower', cursive;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	text-decoration:none;
	margin-left:20px;
	margin-right:20px;
	padding:5px;
	}

	#contacts a:hover{
		text-decoration:underline;
	}
	
.last_str{
	color:#fff;
	list-style-type:none;
	padding-top:4.5vh;
}

.last_str li{
	display:inline-block;
  font-family: 'Indie Flower', cursive;
	font-family: 'Roboto', sans-serif;
	font-size:16px; 
}

#b{float: right; margin-right:20px;}